{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}{% endblock %}
  </title>
  <style>
    html,
    body,
    #app {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #footer {
      height: 10%;
      width: 100%;
    }
  </style>
  <!-- move relay-ons from  body to head -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/elementui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/fvr-main.css' %}">

  <script type="text/javascript" src="{% static 'js/axios-0.21.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
  <script src="{% static 'js/elementui.js' %}"></script>
  <script type="module" src="{% static 'js/fvr-components.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common.js' %}"></script>

  <script type="module">
    import FvrComponent from "{% static 'js/fvr-components.js' %}"
    Vue.use(FvrComponent);
  </script>
  <script type="text/javascript">
    window.mixins = [];
    function extend(mixin) {
      mixins.push(mixin)
    }
  </script>
  <!-- every page could inject there own style sheet -->
  {% block inline_styles %} {% endblock %}
</head>

<body>
  {% csrf_token %}
  <div class="wrapper" id="app" style="display: none;">
    <fvr-container style='flex-flow: column;'>
      {% block banner %}
      {% endblock %}
      <fvr-main>
          {% block body %}{% endblock %}
      </fvr-main>
      {% block footer %}
      {% endblock %}
    </fvr-container>
    <div id="message"></div>
  </div>
  {% block scripts %}
  {% endblock %}
  <script type="module">
    window.app = new Vue({
      mixins: [...mixins],
      mounted() {
        this.$root.$el.style.display="";
      },
    }).$mount("#app");
  </script>
</body>
</html>
