{% extends 'global.html' %}

{% load i18n %}
{% load static %}
{% block inline_styles %}
  <style type="text/css">
    #left {
      width: 200px;
      position: absolute;
      float: left;
    }

    #right {
      position: relative;
    }

  </style>
  {% block page_styles %}{% endblock %}
{% endblock %}


{% block banner %}
  <fvr-banner id='home'>
    <fvr-dropdown :lists="lists" @command='dropdownClick'>
      <fvr-avatar :src='userInfo.avatar'></fvr-avatar>
      <fvr-font style='margin: 0 10px;'>[[ userInfo.name ]]</fvr-font>
    </fvr-dropdown>
  </fvr-banner>
{% endblock %}

{% block body %}
<fvr-container>
  <fvr-aside style='width: auto;' id='nav'>
    {% block slide_menu %}
    <fvr-menu @handler='menuClick'>
      <template v-for="(menu, index) in menus">
        <fvr-submenu icon='el-icon-location' v-if="menu.children && menu.children.length > 0" :label="menu.name" :index="menu.path">
          <fvr-menu-item-group :label="menu.name">
            <fvr-menu-item v-for="(child, cindex) in menu.children" :index="child.path" :key="child.path">[[ child.name ]]</fvr-menu-item>
          </fvr-menu-item-group>
        </fvr-submenu>
        <fvr-menu-item v-else icon='el-icon-location' :index="menu.path">[[ menu.name ]]</fvr-menu-item>
      </template>
    </fvr-menu>
    {% endblock %}
  </fvr-aside>

  <fvr-main id="right">
    <div id="content">
      {% block breadcrumbs %}
        <div class="breadcrumbs">{{breadcrumbs}}</div>
      {% endblock %}

      {% block content %}
      {% endblock %}
      <br class="clear">
    </div>
  </fvr-main>
</fvr-container>
{% endblock %}

{% block scripts %}
<script type="module">
  // menu component
  extend({
    delimiters: ["[[", "]]"],
    data() {
      return {
        menus: [{
          name: "Dashboard",
          path: "/home/",
        }, {
          name: "Robot Service",
          path: "/robot/",
          children: [{
            name: "Robots",
            path: "",
          }, {
            name: "Arms",
            path: "/robot/arm/",
          }, {
            name: "Joints",
            path: "/robot/joint/",
          }, {
            name: "Teaches",
            path: "/robot/teach/",
          }, {
            name: "Controls",
            path: "/robot/control/",
          }, ],
        }, {
          name: "Service Interface",
          path: "/si/",
        }, {
          name: "Download Service",
          path: "/download/",
          children: [{
            name: "Download Packages",
            path: "/download/download_center/",
          }],
        }, {
          name: "Management Service",
          path: "/manage/",
          children: [{
            name: "User",
            path: "/rbac/user/",
          }, {
            name: "Role",
            path: "/rbac/role/",
          }, {
            name: "Permission",
            path: "/rbac/Permission/",
          }, ],
        }, ],
      }
    },
    methods: {
      menuClick(path) {
        navigateTo(path);
      }
    }
  })
  // banner
  extend({
    delimiters: ["[[", "]]"],
    data() {
      return {
        userInfo: {
          avatar: "",
          name: "yubin"
        },
        lists: [{
          name: "My Account",
          command: ""
        }, {
          name: "Change Password",
          command: "password_reset"
        }, {
          name: "Log out",
          command: "logout"
        }]
      }
    },
    methods: {
      dropdownClick(action) {
        switch(action) {
          case 'password_reset':
            this.jumpToReset();
            break;
          case 'logout':
            this.jumpToLogout();
            break;
        }
      },
      jumpToReset() {
      },
      jumpToLogout() {
        const cookie = new Cookie();
        cookie.setCookie('rememberMe', '')
        navigateTo("{% url 'logout' %}")
      },
    },
  })
</script>
{% block sub_scripts %}{% endblock %}
{% endblock %}
