{% extends 'global.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block inline_styles %}
<style>
  .main {
    width: 100%;
    height: 100%;
  }
  form {
    width: 488px;
    height: 509px;
    border: 1px solid #979797;
    box-shadow: RGBA(0,0,0,0.5) 0px 2px 4px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
</style>
{% endblock %}

{% block banner %}
<fvr-banner></fvr-banner>
{% endblock %}

{% block body %}
<fvr-row style='width: 100%;height: 100%;' type='flex' align='middle' id='body'>
  <el-col :span='12'>
  </el-col>
  <el-col :span='12'>
    <fvr-row class='main' align='middle' type='flex' justify='center'>
      <form class="form-group" method="post" action="{% url 'login' %}" @submit.prevent="submit($event)">
        <fvr-font class="form-signin-heading" style="font-size: 36px;margin-top: 50px;" size='xl'>Sign In</fvr-font>
        <fvr-username-input style="width: 300px; margin-top: 50px" name="username" placeholder="username or email" v-model="username" :error="errorUserOrPass" required ref='init_focus'></fvr-username-input>
        <fvr-password-input style="width: 300px; margin-top: 25px" name="password" placeholder="password" v-model="password" :error="errorUserOrPass" required></fvr-password-input>
        <fvr-captcha style="width: 300px; margin-top: 25px" name="captcha" placeholder="captcha" v-model="captcha" :error="errorVarify" ref='code' required></fvr-captcha>
        <fvr-row style='width: 300px;margin-top: 25px' justify='space-between'>
          <fvr-checkbox label='Remember me' v-model='rememberMe'></fvr-checkbox>
          <a href="">Forget password?</a>
        </fvr-row>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 300px;margin-top: 25px;">Login</button>
      </form>
    </fvr-row>
  </el-col>
</fvr-row>

{% endblock %}


{% block scripts %}
<script defer type="module">
  extend({
    data() {
      return {
        username: '',
        password: '',
        captcha: '',
        rememberMe: 'no',
        errorUserOrPass: '',
        errorVarify: '',
        res: {},
      }
    },
    mounted() {
      this.$refs.init_focus.focus();
    },
    watch: {
      res: function(newVal, oldVal) {
        this.errorVarify = this.errorUserOrPass = ''
        switch(newVal.code) {
          case 20401:
            this.errorVarify = newVal.msg
            break;
          case 20402:
          case 20403:
            this.errorUserOrPass = newVal.msg
            break;
          case 20200:
            const { remember_me, url, token } = newVal.data;
            const cookie = new Cookie();
            if(remember_me && this.rememberMe === 'yes') {
              cookie.setCookie('rememberMe', remember_me);
            }
            navigateTo(url, token);
            break;
          }
        this.$refs.code.refresh()
      }
    },
    mounted() {
      this.$refs.init_focus.focus();
    },
    methods: {
      submit({ target }) {
        var formData = new FormData()
        formData.append('username', this.username);
        formData.append('password', this.password);
        formData.append('captcha', this.captcha);
        formData.append('rememberMe', this.rememberMe);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        axios.post("/api/v1/login/", formData).then(({data}) => {
          this.res = data;
        });
      },
    }
  })
</script>

{% endblock %}
